.swiper-container{
  width: 1230px;
  margin: 0 auto;
  margin-top: 40px;
}

.swiper {
  width: 1230px;
  margin: 0 auto;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
margin: 0 auto;
}

