.containerr{
    width: 1230px;
    margin: 0 auto;
    overflow: hidden;
}

.title{
    margin-top: 40px;
    font-family: Rubik;

}
.XiaList-inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.like-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.Xia-wrapper{
    margin-top: 21px;
    position: relative;
    padding: 20px;
    width: 230px;
    height: 360px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    font-family: Rubik;
    
    .product-img{
        width: 100%;
    
    }
    .xia__name{
        font-size: 18px;
        line-height: 21.33px;
        color: #4889F7;
    }
    p{
        margin-top: 7px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.59px;
        height: 51px;
    }
    span{
        display: block;
        margin-top: 13px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.59px;
        color: #A0A0A0;
    }
}
button{
    border: 1px solid transparent;
    background: transparent;
    font-family: Rubik;

}
.card-bottom{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buy-product{
    width: 130px;
    height: 40px;
    background: #4889F7;
    color: #fff;
    border-radius: 10px;
}



.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.XiaList-inner {
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(20% - 40px); /* Adjust the width as needed */
    box-sizing: border-box;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
}

.pagination button {
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
}

.pagination button.active {
    font-weight: bold;
    text-decoration: underline;
}

.pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
