.sidebar{
    width: 230px;
    background-color: white;
    position: absolute;
}
.catalog-list{
    background-color: white;
 
}
.catalog-item{
    margin-top: 15px;
    a{
        color: black;
    }
}